@model SMS.BLL.Models.AuthenticationModels.SignInModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/CustomCSS/Registration.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

<form asp-action="SignIn" asp-controller="Auth">
    <div class="Container">
        <h1>Sign In</h1>
        <hr>
        <p class="text-danger"><strong>@TempData["Error"]</strong></p>
        <div class="align-items-center">
            <label asp-for="Email"><b>Email address</b></label><br />
            <input type="text" placeholder="Enter your email address" asp-for="Email"><br />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Password"><b>Password</b></label><br />
            <input type="password" placeholder="Enter your password" asp-for="Password"><br />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Sign In</button>
        <hr />

        <div class="container">
            <p>New user? <a asp-area="Authentication" asp-controller="Auth" asp-action="RegisterUser">Create a new account</a>.</p>
        </div>
    </div>
</form>
</body>
</html>