
<ul class="navbar-nav">
    <li class="nav-item">
            <form class="form-inline" asp-area="Authentication" asp-controller="Auth" asp-action="SignOut">
            <button type="submit" class="nav-link btn btn-link text-dark fw-bold">Logout</button>
        </form>
    </li>
</ul>
