@model SMS.BLL.Models.AuthenticationModels.SignInModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/CustomCSS/Registration.css" />
</head>
<body>

<form asp-action="SignIn" asp-controller="Auth">
    <div class="Container">
        <h1>Sign In</h1>
        <hr>
        <p class="text-danger"><strong>@TempData["Error"]</strong></p>

        <label asp-for="Email"><b>Email address</b></label>
        <input type="text" placeholder="Enter your email address" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>

        <label asp-for="Password"><b>Password</b></label>
        <input type="password" placeholder="Enter your password" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>

        <br />
        <button type="submit" class="btn btn-primary">Sign In</button>
        <hr />

        <div class="container">
            <p>New user? <a asp-controller="Auth" asp-action="RegisterUser">Create a new account</a>.</p>
        </div>
    </div>
</form>
</body>
</html>